*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

a:hover {
	color: rgb(53, 35, 95);
}

a:active {
	color: rgb(68, 59, 90);
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	line-height: 24px;
	background-image: url(../img/background_img.jpg);
	background-repeat: no-repeat;
	background-size: 1920px 2100px; /* Фиксированный размер фонового изображения */
	max-width: 1230px;
	padding: 0px 15px;
	margin: 0 auto;
	font-family: "Kreadon";
}


@font-face {
	font-family: "Kreadon";
	src: url("../fonts/ofont.ru_Kreadon.ttf");
}

.header {
	margin-top: 150px;
}

.header-container, .main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-title {
	font-size: 100px;
	font-weight: 700;
	color: rgb(41, 41, 41);
}

.header-load-button, .main-more-button {
	display: flex;
	align-items: center;
	justify-content: center; 
	margin-top: 120px;
	margin-bottom: 60px;
	color: rgb(63, 63, 63);
	background-image: linear-gradient(to right, rgb(129, 129, 129), rgb(185, 185, 185));
	font-weight: 500;
	width: auto;
	height: auto;
	border-radius: 15px;
	font-size: 3vw;
	border: 0.2vw solid rgb(46, 46, 46, 0.3);
	cursor: pointer;
	padding: 20px 20px;
}

.main-more-button {
	margin-bottom: 90px;
}

.main-photo-block {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.photo {
	width: 24.17%;
   height: 24.17%;
	object-fit: cover; 
	margin-bottom: 10px; 
}

#loader {
	font-size: 3vw;
	color: rgba(5, 5, 5, 0.507);
	text-align: center;
	display: none;
	padding-top: 1vw;
	padding-bottom: 1vw;
}

@keyframes appear {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes disappear {
	from { opacity: 1; }
	to { opacity: 0; }
}

@media only screen and (max-width: 768px) {
	.header-load-button, .main-more-button {
		font-size: 45px;
	}
}


